body{
    font-family: 'Pangolin', cursive;
    margin: 0;
    
}
.Welcome{
    color: cornflowerblue;
    font-weight: 500;
    font-family: 'Pangolin', cursive;
    font-size: 60px;
}
.experience{
        color: royalblue;
        font-weight: 500;
        text-align: center;
        font-family: 'Pangolin', cursive;
        font-size: 60px;
}
p{
    font-family: cursive;
    font-weight: 500;
    font-size: 20px;
}
h3{
    font-size: 30px;
}
h2{
    font-size: 50px;
}
.Blue-highlight{
    color: peru;
}
.section1{
    width: 40%;
    float: left;
    margin-right: 5%;
    padding-left: 2%;
    
}
.section2 img{
    width: 35%;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    padding-left: 2%;
}
.terminal1{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

} 
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    color: azure;
    background-image: linear-gradient(45deg,#000428 , #004e92);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: cursive;
    border: 1px solid;
    border-radius: 7px;
    padding: 15px 20px;
}
a:hover{
    width: 100px;
    height: 100px;
    color: cornflowerblue;
  background-image: linear-gradient(#42275a , #734b6d);
}
.terminal2{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 3%;
} 
.section3{
    width: 40%;
    float: right;
    margin-right: 5%;
    padding-left: 2%;
    
}
.section13{
    max-width: 600px;
    float: left;
    margin-right: 5%;
    margin-left: 3%;
    padding: 50px;
    position: relative;
    background-color: rgba(255,255,255,.2);
    box-shadow: 10px 30px 50px rgba(0,0,0,.8);
    border-style: none;
    border-width: 3px 10px;
    height: 80%;
    border-radius: 5px;
}
.terminal3{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.right{
    position: relative;
   margin-left: 2%;
   margin-right: 1%;
  font-size: 18px;
}
table{
	border-collapse: collapse;
	width: 100%;
}
th{
	color: white;
text-align: left;
	padding: 20px;
	background-image: linear-gradient(#2193b0,#6dd5ed);
	border: 2px solid 	rgba(211,211,211,.8);
	border-radius: 10px;
}
td{
	color: #696969;
	text-align: left;
	padding: 5px;
	margin: auto;
	border: 2px solid 	rgba(211,211,211,.6);
}
tr:nth-child(even){
	background-color: 	rgba(211,211,211,.4);
	color: red; 
}
tr:hover{
	background-color:  rgba(169,169,169,1);
}
.right1{
    text-align: center;
    color: royalblue;
}